{% extends 'base.html' %}
{% load static %}

{% block title %}Главное меню{% endblock %}

{% block content_head %}
    <div class="container">
        <form method="get">
            <div class="search_bar">
                <input type="text" name="component_title" placeholder="Поиск">
                <button type="submit" id="search">
                    <img src="{% static 'img/search.png' %}" alt="Иконка поиска">
                </button>
            </div>
        </form>
        <div class="busket">
            <a href="{% url 'cosmetic_composition' data.formulation_id %}"><img src="{% static 'img/busket.png' %}" alt="Корзина"></a>
            <span class="busket_count">{{data.count}}</span>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="container_cards">
        <div class="row">
            {% for element in data.elements %}
                <div class="card">
                    <a href="{% url 'component' element.id%}"><img src="{{ element.img_path }}" alt="{{ element.title }}" class="card-img"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ element.title }}</h5>
                        <p class="card-description">{{ element.short_description }}</p>
                        <p class="card-price">{{ element.volume }}{{ element.unit }} — {{ element.price }} руб.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}