{% extends 'base.html' %}

{% block title %}Косметическое средство{% endblock %}

{% block content_body %}
    <div class="order-container">
        <h1 class="order-title">Косметическое средство</h1>

        <div class="order-details">
            <h3>Категория: скраб для тела</h3>

            <div class="order-items">
                {% for item in data %}
                <div class="order-item">    
                    <div class="item-image">
                        <img src="{{ item.img_path }}" alt="{{ item.title }}">
                    </div>
                    <div class="item-details">
                        <h5>{{ item.title }}</h5>
                        <a href="{% url 'component' item.id_component %}" class="item-more">Подробнее</a>
                    </div>
                    <div class="item-quantity">
                        <label for="quantity-{{ item.id_component }}">Кол-во ({{ item.unit }}):</label>
                        <input type="number" 
                               id="quantity-{{ item.id_component }}" 
                               name="quantity-{{ item.id_component }}" 
                               min="1" 
                               step="1" 
                               value="{{item.dosage}}" 
                               readonly>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}